.login-page, .register-page{
	background:url(../images/login-back.jpg);
}
.login-box, .register-box{
	margin:2% auto;
}
.btn-app{
border-radius: 3px;
    position: relative;
    padding: 5px;
    margin: 0 0 10px 10px;
    min-width: 50px;
    height: 45px;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    font-size: 12px;
}
.btn-app>.fa{
	font-size:16px;
}
.popup-overley{
	display:none;
	background:rgba(0, 0, 0, 0.68);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:999;
}
.popup-box{
	display:none;
	position:fixed;
	top:30%;
	left:30%;
	z-index: 1000;
    width: 50%;
}
.close-response-box .fa{cursor:pointer;}
.form-control.error{
	border-color:#ff0000;
}

.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}



.input-group .input-group-addon {
    background-color: #ecf0f5;
    width: 150px;
    text-align: left;
}


.input-group {
    width: 100%;
}